<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Register</title>

    <script src="https://use.fontawesome.com/dfd0d8441e.js"></script>

     {% load static %}
     <link rel="icon" type="image/png" href="{% static 'bill-icon.png'%}"/>
    <link href="{% static 'register.css' %}" rel="stylesheet"></link>
    <script type="text/javascript" src="{% static 'register.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet"></link>
  </head>
  <body>
  
     <div class="login-dark">
        <form name="login-auth" style="text-align:center" method="POST" onsubmit="return false">
          {% csrf_token %}
        <span style="text-align:center">{{Name}}</span>
            <h2 class="sr-only">Register</h2>
            <div class="illustration"><i class="fa fa-lock"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="remployee_name" id="remp_name" placeholder="Employee Name"></div>
            <div class="form-group"><input class="form-control" type="password" name="remployee_password" id="remp_pass" placeholder="Password"></div>
            <div class="form-group"><input class="form-control" type="email" name="remployee_email" id="remp_email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="text" name="remployee_mobile" id="remp_mobile" placeholder="Mobile Number"></div>
            <div class="form-group"><input class="form-control" type="text" name="remployee_dob" id="remp_dob" placeholder="Date of Birth dd-mm-yyyy"></div>
            <div class="form-group"><textarea class="form-control" type="text" name="remployee_address" id="remp_address" placeholder="Address"></textarea></div>
            <div class="form-group"><button class="btn btn-primary btn-block"  onclick="register()">Register</button></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- Developed and maintained by CODE SLAYERS *-_/\_-* George Simclair['Frontend Dev' + 'FullStack Dev']-->
  </body>
</html>