<html style="padding:none;margin:none;">
    <head>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">--> 
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">--> 
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"/>-->
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"/>
     <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
      <script type="text/javascript">
      if(!sessionStorage.getItem("auth_status"))
        {
            window.location='/';
        }
      </script>
      <style>
     .input-field
     {
         border-radius:2px;
         margin-top:25px;
         border:none;
         border-bottom:1px solid #000;
         outline:none;
         box-shadow:none;
     }
     #name-container,#id-container {
    display: block; 
    position:relative
} 
.ui-autocomplete {
    position: absolute;
}
      </style>
    </head>
    <body >  
    <div class="row" style="width:100%;">
    <div class="col-md-9 col-xs-12" style="padding-top:15px;padding-left:18px;" >
        <h5 style="color:black;background-color:yellow;width:140px;">Bill No: <span id="billno-disp"></span></h5>
        <table id="bill-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>S.no</th>
                <th>Product Name</th>
                <th>Id</th>
                <th>Rate</th>
                <th>Qty</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            </tbody>
            </table>

    </div>
     <div class="col-md-3 col-xs-12" style="height:102vh;padding:0 0;">
     <div style="text-align:center;height:51vh;">
  <form name="add-product-form" style="text-align:center" method="POST" onsubmit="return false">
  <div class="form-group"><input class="form-control input-field" type="text" name="" id="product-id-search" placeholder="Product Id">
              <div id="id-container">
</div></div>
            <div class="form-group"><input class="form-control input-field" type="text" name="" id="product-name-search" placeholder="Product Name">
            <div id="name-container">
</div></div>
            <div class="form-group"><input class="form-control input-field" type="number" name="" id="product-qty" default="1"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" onclick="add_product_to_table()" style="margin-top:45px;" >Add</button></div>
  </form>
     </div>
     <div style="height:51vh;">
     <h2>Total :</h2>
     <h1 style="text-align:center">₹ <span id="Total-amt">00.0</span></h1>
      <div class="form-group"><button class="btn btn-success btn-block" onclick="create_bill()" style="margin-top:45px;">End Billing</button></div>
       <div class="form-group"><button class="btn btn-danger btn-block" onclick="discard_bill()" style="margin-top:25px;">Discard Bill</button></div>
     </div>
     </div>
    </div>
     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
 <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>

    <script type="text/javascript">
    let sno = 1;
    let amt = 0.0;
    let itlist = [];
   $(document).ready(function() {
    $('#bill-table').DataTable();
    document.getElementById("product-qty").value= 1;
    $.get('api/create-billnum',function(data,status)
    {
        //console.log(data)
        document.getElementById("billno-disp").innerText=data
    })
    
    $.get('api/products-namelist',function(data,status)
    {
             $('#product-name-search').autocomplete({
        source: data,
        appendTo: "#name-container"
    });


    });
   
    } );

    function discard_bill()
    {
         $('#bill-table').DataTable().clear().draw();
         document.getElementById("product-id-search").value = "";
         document.getElementById("product-qty").value = 1;
         //prepare for next bill
        sno = 1;
        amt = 0.0;
        itlist = [];
        document.getElementById("Total-amt").innerText = amt;
    }

    function create_bill()
    {
        let data = JSON.parse(sessionStorage.getItem("employee_data"))
        pcount = sno-1;
        let plist_str = "";
        for(let i=0; i<itlist.length ;i++)
        {
            plist_str += itlist[i]+" , "
        }
        //console.log(pcount,itlist,document.getElementById("billno-disp").innerText,new Date().toDateString()+" "+new Date().toLocaleTimeString(),data.Employee_Name,amt)
        $.post('api/billing-product/',"Bill_No="+document.getElementById("billno-disp").innerText+"&Timestamp="+new Date().toDateString()+" "+new Date().toLocaleTimeString()+
        "&Products="+plist_str+"&Product_Count="+Number(pcount)+"&Amount="+Number(amt)+"&Billing_Employee="+data.Employee_Name,
        function(data,status)
        {
           if(data)
           {
               location.reload();
           }
        })
    }

    function add_product_to_table()
    {
       let p_id = document.getElementById("product-id-search").value
       let p_name = document.getElementById("product-name-search").value
       let Qty = document.getElementById("product-qty").value
       if(p_id === "")
       {
           console.log(p_name)
       }
       else
       {
            $.get('/api/products-detail/'+p_id ,function(data,status)
                {
                    let lsno = sno;
                    sno += 1; 
                    let fprice = Number(data.Price)*Number(Qty);
                    amt += fprice;
                    itlist.push(data.product_Name)
                    document.getElementById("Total-amt").innerText = String(amt);
                    $('#bill-table').DataTable().row.add([lsno,data.product_Name,data.Product_Id,data.Price,Qty,fprice]).draw();
                    document.getElementById("product-id-search").value = "";
                    document.getElementById("product-qty").value = 1;
                    document.getElementById("product-id-search").select();
                })
       }
       
    }
     $('form input').keydown(function (e) {
    if (e.keyCode == 13) {
        var inputs = $(this).parents("form").eq(0).find(":input");
        if (inputs[inputs.index(this) + 1] != null) {                    
            inputs[inputs.index(this) + 1].focus();
        }
        e.preventDefault();
        return false;
    }
});
    </script>
    </body>
</html>